@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


input:focus {
  outline: none; 
}